---
title: article
layout: base.njk
---
       
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
    {{ post.title }}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ post.image }}" alt="{{ post.imageAlt }}">
      <figcaption>
        This is a test
      </figcaption>
    </figure>
    
  
</div>
</article>

